html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section, article, aside, header, footer, nav, dialog, figure,menu,hgroup,iframe{ margin:0; padding:0; border:0; }
html{ -webkit-text-size-adjust:none;}
body{ font-family:"Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif; font-size:12px; line-height:24px; background:#fff;  -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased;  font-smoothing: antialiased;  color:#000; }

input,textarea{ resize:none; font-family:"Microsoft YaHei"; background: #fff; border: 0;  }
img{ border:none; vertical-align:middle; }
ul,li{ list-style:none; color: #000;}
a{ text-decoration:none; color:#fff; outline:none; }
a:hover{ color:#000;}
input:focus,textarea:focus{ outline:none; }
img{ border: 0; width: 100%; -ms-interpolation-mode:bicubic;}
::selection{ background: #999; color: #333;}
::-moz-selection{ background: #999; color: #333;}

.fl{ float: left;}
.fr{ float: right;}
.or{ overflow: hidden;}

.con{ max-width: 27rem; margin: 0 auto;}

#header{ max-width: 27rem; height: 3rem; line-height: 3rem; position: relative; margin: 0 auto;}
#header .logo{ width: 4.1rem; margin: 0 auto;}
.open{ background: url(../images/menu.png) no-repeat; position: absolute; top: 1rem; right: 1rem; width:1.25rem; height:0.9rem; display: block; background-size: cover;}

html.mm-opened .mm-page,
html.mm-opened #mm-blocker,
html.mm-opened .mm-fixed-top,
html.mm-opened .mm-fixed-bottom,
html.mm-opened .mm-menu.mm-horizontal > .mm-panel {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: top, right, bottom, left, border, -webkit-transform;
  -moz-transition-property: top, right, bottom, left, border, -moz-transform;
  -ms-transition-property: top, right, bottom, left, border, -ms-transform;
  -o-transition-property: top, right, bottom, left, border, -o-transform;
  transition-property: top, right, bottom, left, border, transform; }
html.mm-opened .mm-page,
html.mm-opened #mm-blocker { right:0%;top: 0;margin: 0; }


.mm-menu .mm-hidden { display: none; }
.mm-fixed-top,.mm-fixed-bottom { position: fixed;left: 0; }
.mm-fixed-top {top: 0; }
.mm-fixed-bottom {bottom: 0; }
html.mm-opened,html.mm-opened body { width: 100%; height: 100%; overflow: hidden;position: relative; }
html.mm-opened .mm-page { height: 100%; overflow: hidden; position: absolute; }
html.mm-background .mm-page { background: inherit; }
#mm-blocker {  opacity: 0; display: none;width: 100%; height: 100%; position: absolute; z-index: 9999; }
html.mm-opened #mm-blocker,html.mm-blocking #mm-blocker { display: block; }
.mm-menu.mm-current { display: block; }
 

html.mm-opened.mm-opening .mm-page,
html.mm-opened.mm-opening #mm-blocker,
html.mm-opened.mm-opening .mm-fixed-top,
html.mm-opened.mm-opening .mm-fixed-bottom { right:13.5rem; }
.mm-menu { background:#424242; display: none;overflow:auto;height: 100%;padding:0;position: absolute;right: 0;top: 0;z-index:0; }
.mm-menu { width:13.5rem; font-size:1.8em; }
.logomenu{ width:4.68rem; margin:0.8rem auto 1.5rem auto; overflow:hidden;} 
.mm-menu ul{ width:100%; margin:0 auto 3rem auto;  }
.mm-menu ul a i{ margin:0 .8rem 0 1.2rem;}
.mm-menu ul a i.c1{ background:url(../images/menub_07.png) no-repeat; width:1.38rem; height:1.38rem; display:inline-block;   vertical-align:-0.25em; -webkit-background-size:1.38rem auto;background-size:1.38rem auto;}
.mm-menu ul a i.c2{ background:url(../images/menub_15.png) no-repeat; width:1.38rem; height:1.38rem; display:inline-block;   vertical-align:-0.25em; -webkit-background-size:1.38rem auto;background-size:1.38rem auto;}
.mm-menu ul a i.c3{ background:url(../images/menub_15.png) no-repeat; width:1.38rem; height:1.38rem; display:inline-block;   vertical-align:-0.25em; -webkit-background-size:1.38rem auto;background-size:1.38rem auto;}
.mm-menu ul a i.c4{ background:url(../images/menub_21.png) no-repeat; width:1.38rem; height:1.38rem; display:inline-block;   vertical-align:-0.25em; -webkit-background-size:1.38rem auto;background-size:1.38rem auto;}

.mm-menu ul a:hover i.c1{ background:url(../images/menub_07hover.png) no-repeat; width:1.38rem; height:1.38rem; display:inline-block;   vertical-align:-0.25em; -webkit-background-size:1.38rem auto;background-size:1.38rem auto;}
.mm-menu ul  a:hover  i.c2{ background:url(../images/menub_15hover.png) no-repeat; width:1.38rem; height:1.38rem; display:inline-block;   vertical-align:-0.25em; -webkit-background-size:1.38rem auto;background-size:1.38rem auto;}
.mm-menu ul  a:hover  i.c3{ background:url(../images/menub_15hover.png) no-repeat; width:1.38rem; height:1.38rem; display:inline-block;   vertical-align:-0.25em; -webkit-background-size:1.38rem auto;background-size:1.38rem auto;}
.mm-menu ul  a:hover  i.c4{ background:url(../images/menub_21hover.png) no-repeat; width:1.38rem; height:1.38rem; display:inline-block;   vertical-align:-0.25em; -webkit-background-size:1.38rem auto;background-size:1.38rem auto;}

.mm-menu ul li{ clear:both; margin-top:0.8rem;}  
.mm-menu ul li a{ color:#ccc; display:block; height:3rem; line-height:3rem; position:relative; font-size:1.2rem; }
.mm-menu ul li a:hover{  background:#1ab4c3; color:#fff;}
.mm-menu ul li a span{ position:absolute; right:0.9rem; top:0;}
